footer {
	background-color: #C49542;
	color: #231F20;
	padding-bottom: 50px;
	padding-top: 50px;
	text-align: center;
}
.fTitle {
	color: white;

	/* This is not working, and I'm not sure why */
	font-family: Arvo;
	/* This is not working, and I'm not sure why */

	font-weight: bold;
}
.fInfo {
	/* This is not working, and I'm not sure why */
	font-family: Roboto;
	/* This is not working, and I'm not sure why */
}
.fLink, .fLink:hover {
	color: #231F20;

	/* This is not working, and I'm not sure why */
	font-family: Roboto;
	/* This is not working, and I'm not sure why */

	text-decoration: none;
}
