.Footer
	background-color: #C49542
	font-family: Roboto
	padding-bottom: 3rem
	padding-top: 3rem
	text-align: center
	>div:first-child
		color: white
		font-family: Arvo
		font-weight: bold
		text-transform: uppercase
	a
		color: black
