.Header
    display: flex
    li 
        &.selected
            color: $Mustard
        display: inline-block
        flex: 1
        font-family: Roboto
        padding-top: 2rem
        text-align: center
        text-transform: uppercase
    li:nth-child(3)
    	color: $Mustard
    	font-family: Arvo
    	font-weight: bold
    li:hover
        text-decoration: underline
