.Home
	text-align: center
	padding-bottom: 2rem
	>img:nth-child(1)
		height: 14rem
		padding-top: 3rem
	>div:nth-child(2)
		font-family: Arvo
		font-size: 2rem
		padding-top: 3rem
	>div:nth-child(3)
		padding-bottom: 2rem
		text-transform: uppercase
	>div:nth-child(4)
		margin-left: 25rem
		margin-right: 25rem
		padding-bottom: 3rem
	>div:nth-child(5), div:nth-child(6)
		display: flex
		justify-content: space-evenly
		padding-bottom: 1rem
		padding-left: 5rem
		padding-right: 5rem
		>div
			background-color: $Mustard
			position: relative
			>img
				height: 20rem
				position: relative
				width: 25rem
			>div
				background: $Charcoal
				color: white
				font-family: Arvo
				left: 50%
				padding-bottom: 1rem
				padding-left: 1rem
				padding-right: 1rem
				padding-top: 1rem
				position: absolute
				top: 50%
				transform: translate(-50%, -50%)
		>div:hover
			>img
				opacity: 0.5
