.OurOfferings
	margin-top: 5rem
	text-align: center
	>h1
		font-family: Arvo
		margin-bottom: 2rem
	>p
		margin-left: 33%
		margin-right: 33%
	>div
		margin-bottom: 5rem
		margin-left: 20rem
		margin-right: 20rem
		margin-top: 5rem
		>div
			display: flex
			justify-content: center
			margin-bottom: 1rem
			>h3
				font-weight: bold
				margin-top: 1rem
				text-transform: uppercase
			>div
				flex: 1
				text-align: left