.TheBlog
	margin-bottom: 3rem
	margin-top: 8rem
	text-align: center
	>h1
		font-family: Arvo
		margin-bottom: 3rem
	>p
		margin-right: 33%
		margin-left: 33%
	.calendar-images
		display: flex
		flex-wrap: wrap
		justify-content: center
		margin-left: 3rem
		margin-right: 3rem
		margin-top: 3rem
		>div
			background: $Mustard
			flex-basis: 20rem
			margin: 1rem
			position: relative
			>div
				background: $Charcoal
				color: white
				font-family: Arvo
				left: 50%
				padding: 1rem
				position: absolute
				top: 50%
				transform: translate(-50%, -50%)
		>div:hover
			>img
				opacity: 0.5
